<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/aop
          http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
          http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${imp.jdbc.driver}" />
		<property name="url" value="${imp.jdbc.url}" />
		<property name="username" value="${imp.jdbc.username}" />
		<property name="password" value="${imp.jdbc.password}" />

		<property name="testOnBorrow" value="${imp.dbcp.testOnBorrow}" />
		<property name="validationQuery" value="${imp.dbcp.validationQuery}" />
		<!-- <property name="connectionProperties" value="${imp.dbcp.connectionProperties}" /> -->
		<property name="minEvictableIdleTimeMillis" value="${imp.dbcp.minEvictableIdleTimeMillis}" />
		<property name="initialSize" value="${imp.dbcp.initialSize}" />
		<property name="maxActive" value="${imp.dbcp.maxActive}" />
		<property name="testWhileIdle" value="${imp.dbcp.testWhileIdle}" />
		<property name="timeBetweenEvictionRunsMillis" value="${imp.dbcp.timeBetweenEvictionRunsMillis}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- <property name="configLocation" value="classpath:sqlmap-config.xml" /> -->
		<property name="mapperLocations">
			<list>
				<value>classpath*:com/himysql/mybatis/dao/UserMapper.xml</value>
			</list>
		</property>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
</beans>
